body {
  font-family: Helvetica;
  font-size: 100%;
}
table {
  border-collapse: collapse;
  height: 100%;
}
tr, td {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}
td {
  width:30px;
  /*border: 1px solid red;*/
  /*height:4px;*/
}
#info {
  float: right;
  width: 30%;
}
#key {
  /*border: 1px solid #333;*/
  padding: 5px 5px 5px 0;
  margin: 5px 5px 5px 5px;
}
.item {
  clear: both;
}
.item-color {
  display: inline-block;
  float: left;
  width: 5%;
  height: 5px;
  margin-top: 7px;
  margin-right: 5px;
}
.move {
  float: left;
  width: 80%;
  margin-bottom: 7px;
}
#nav {
  clear:both;
  margin-top: 50px;
}
#nav li {
  margin-bottom: 5px;
}
@media print {
  #nav {
    display:none;
  }
}
